@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

input:disabled,
textarea:disabled,
input:disabled::placeholder,
textarea:disabled::placeholder {
  opacity: 1; /* 2. correct opacity on iOS */
}

.hide-scrollbar {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  -webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
